In [4]:
#Q.TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms.
#Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the
#defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [5]:
import pandas as pd
from scipy import stats
from scipy.stats import chi2_contingency

In [6]:
Data4=pd.read_csv('C:/Users/abc/Desktop/Assignments/Assignment 3/Costomer+OrderForm.csv')

In [7]:
Data4.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [7]:
Data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [8]:
Data4.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [1]:
#Data4.dropna()
#New_Data=pd.get_dummies(Data4)
#New_Data

In [ ]:
#H0 = defective %  is same for all centre.
#H1= not all defective %  is same for all centre.

In [10]:
#Creating a table Error Free and Defective
table = [[271,267,269,280],[29,33,31,20]]

In [11]:
stat, p, dof, expected = chi2_contingency(table)

In [12]:
stat

3.858960685820355

In [13]:
p

0.2771020991233135

In [15]:
expected

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])

In [16]:
#significance value
alpha = 0.05

In [17]:
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
    print('(reject H0)')
else:
    print('(fail to reject H0)')

significance=0.050, p=0.277
(fail to reject H0)

In [18]:
#Ans is defective %  is not varies by centre.