In [1]:
#HYPOTHESIS TESTING
#A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. 
#A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% 
#significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions

In [2]:
import pandas as pd
from scipy import stats

In [3]:
Data1=pd.read_csv('C:/Users/abc/Desktop/Assignments/Assignment 3/Cutlets.csv')

In [4]:
Data1.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [6]:
Data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [7]:
Data1.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [8]:
#Step1 Define Hypothesis
#H0=mu(UnitA) Equal to mu(UnitB) no significant difference in the diameter of the cutlet between two units
#H1=mu(UnitA) NOT Equal to mu(UnitB) significant difference in the diameter of the cutlet between two units

In [9]:
# Step 2 Select test (for this t )

In [10]:
# Step 3&4 compute t value and Probability (More IMP this is 2 sample & 2 Tail test)
stats.ttest_ind(Data1["Unit A"],Data1["Unit B"]) # This formulae give 2 tail value (if we required 1 tail then dived by 2)

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [11]:
# Step 5 Consider alpha=0.05 because 95% confidence level

In [12]:
# step 6,7&8 Compaire P values with alpha and decide wich Hypothesis is coming as Results

In [13]:
p_value=stats.ttest_ind(Data1["Unit A"],Data1["Unit B"])[1] # To access indivual ans

In [15]:
p_value

0.4722394724599501

In [16]:
if p_value<0.05:
    print("Rejecting null hypothesis")
else:
    print("Fail to reject null hypothesis")

Fail to reject null hypothesis

In [17]:
#H0 equal to H1() no there is significant difference in the diameter of the cutlet between two units