In [1]:
#Q3.Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are 
#similar across regions.

In [2]:
import pandas as pd
from scipy import stats

In [3]:
Data3=pd.read_csv('C:/Users/abc/Desktop/Assignments/Assignment 3/BuyerRatio.csv')

In [3]:
Data3.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
#Data3.info()

In [5]:
#Data3.describe()

In [6]:
#STEP1 #H0 =All proportions are equal of male and female
#H1 = Not all Proportions are equal of male and female

In [1]:
#step2 2 proportion test

In [20]:
males =pd.Series([50,124,131,70])
Females = pd.Series([435,1523,1356,750])

In [22]:
import statsmodels.api as sm
sm.stats.ttest_ind(males,Females)

(-3.6041096079090185, 0.011310578875838058, 6.0)

In [24]:
t_value=sm.stats.ttest_ind(males,Females)[0]
t_value

-3.6041096079090185

In [26]:
pvalue = sm.stats.ttest_ind(males,Females)[1]
pvalue

0.011310578875838058

In [28]:
df =sm.stats.ttest_ind(males,Females)[2]
df

6.0

In [29]:
alpha = 0.05

In [31]:
print('significance=%.3f, p=%.3f' % (alpha, pvalue))
if pvalue <= alpha:
    print('(reject H0)')
else:
    print('(fail to reject H0)')

significance=0.050, p=0.011
(reject H0)

In [ ]:
#Ans is Not all Proportions are equal of male and female

In [2]:
#Step2 Chi-Square Test

In [2]:
#The Expected frequency for first cell
#E = (row total * column total)/grand total
#similarily calculate for all.
# then calculate Chi-square value or Χ ².
# Calculate df = (total_rows - 1) * (total_cols - 1)
#Find p-value from table corrosponding values of x2.

In [3]:
from scipy.stats import chi2_contingency

In [8]:
table = [[50, 142, 131, 70], [435,  1523,  1356, 750]]

In [9]:
stat, p, dof, expected = chi2_contingency(table)

In [10]:
stat

1.595945538661058

In [11]:
p

0.6603094907091882

In [12]:
expected

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [13]:
#significance value
alpha = 0.05

In [15]:
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
    print('(reject H0)')
else:
    print('(fail to reject H0)')

significance=0.050, p=0.660
(fail to reject H0)

In [16]:
#Ans is All proportions are equal of male and female